<div *ngIf="!loading">
    <ul *ngIf="todoService.todos.length !== 0; else noTodos">
        <li *ngFor=" let item of todoService.todos; let i = index">
            <span [class.done]="item.completed">
                <input type="checkbox" [checked]="item.completed" (change)="onChange(item.id)">
                <strong>{{i +1}}.</strong>
                {{item.title}}
            </span>
            <small>{{item.date | date}}</small>
            <button class="rm" (click)="remove(item.id)">x</button>
        </li>
    </ul>

    <ng-template #noTodos>
        <p>No plans for today</p>
    </ng-template>
</div>

<p *ngIf="loading">Loading...</p>