<div class="card">
    <h2 [ngStyle]="{    
        color: card.title.length < 5? 'blue' : 'green',
        fontWeight: card.title.length > 5? 'bold' : 'normal'
    }">
    {{card.title}}
    </h2>

    <!-- <p class="text" [ngClass]="{
        blue: textColor === 'blue',
        yellow: textColor === 'yellow',
        purple: textColor === 'purple'
    }">{{text}}</p> -->
    <p class="text" 
        [class.blue]="textColor === 'blue'"
        [class.yellow]="textColor === 'yellow'"
        [class.purple]="textColor === 'purple'"
    >{{card.text}}</p>
    <div class="buttons">
        <button (click)="textColor = 'blue'">Set blue</button>
        <button (click)="textColor = 'yellow'" >Set yellow</button>
        <button (click)="textColor = 'purple'">Set purple</button>
        <button (click)="textColor = ''">Set default</button>
    </div>

    <div><img [src]="imgUrl" alt="Упс.."></div>
    <span><strong>Card id: {{card.id}}</strong></span>

    <div class="buttons">
        <button [disabled]="disabled" (click)="changeTitle()" >Change title</button>
        <button [disabled]="disabled" (click)="card.text = 'updated text'" >Change text</button>
    </div>

    <!-- <div>
        <input type="text" placeholder="new title" (input)="inputHandler($event)" [value]="title">
        <input type="text" #myInput placeholder="new title" (input)="inputHandler2(myInput.value)" [value]="title">
    </div> -->

    <div>
        <input type="text" [(ngModel)]="card.title" (ngModelChange)="ChangeHandler()">
    </div>
</div>